.container {
  padding: 30px;
}

.nav {
  background-color: #282c34;
  padding: 15px;
}

.nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
}

.nav a:hover {
  text-decoration: underline;
}